<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Контактная информация</div>
				<div class="herobigsubtitle">Центральный офис в Ростове-на-Дону:</div>
					<div class="herosubtitle">пр. Михаила Нагибина, 30Г, Ростов-на-Дону, бизнес-центр Аметист<br>
						
					</div>
			<img class="leftimage" src="../a/map.jpg" >
			<br>
					<a href="mailto:info@arbee.ru" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Написать письмо</div>
					</a>
			
		</div>	
	</div>
</div>
